<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Submit your Blog</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead">Share your videography tips and tricks with the world. Fill our form to get started</p>
        </div>
</div>

<div class="row justify-content-center">

    <% if(typeof infoSubmitObj !== 'undefined' && infoSubmitObj.length > 0) { %>
        <div class="col-8 alert alert-success" role="alert">
            <%= infoSubmitObj %>
        </div>
    <% } %>

    <% if(typeof infoErrorObj !== 'undefined' && infoErrorObj.length > 0) { %>
        <div class="col-8 alert alert-danger" role="alert">
            <%= infoErrorObj[0].message %>
        </div>
    <% } %>

    <div class="col-8">

        <form action="/submit-blog" enctype="multipart/form-data" method="POST">
            <div class="row g-3">

                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email id="email">
                </div>

                <div class="col-12">
                    <label for="name" class="form-label">Blog Name</label>
                    <input type="text" class="form-control" name="name" id="name" required>
                </div>

                <div class="col-12">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" class="form-control" id="description" class="form-control" cols="30" rows="4"></textarea>
                </div>

                <div class="col-12">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" class="form-control" name="author" id="author">
                </div>

                <div class="col-12">
                    <label for="category">Select Category</label>
                    <select class="form-select form-control" name="category" aria-label="category">
                        <option selected>Slect Category</option>
                        <option value="Drone">Drone</option>
                        <option value="Photos">Photos</option>
                        <option value="Video">Video</option>
                        <option value="Livestream">Livestream</option>
                        <option value="Polaroid">Polaroid</option>
                    </select>
                </div>

                <div class="col-12">
                    <label for="content" class="form-label">Content</label>
                    <input type="text" class="form-control" name="content" id="content">
                </div>

                <div class="col-12">
                    <label for="image" class="form-label">Image Link</label>
                    <input type="text" class="form-control" name="image" id="image">
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Submit blog</button>
                </div>
            </div>
        </form>
    </div>
</div>